body {
    background-color: white;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 15px;
    border: 2px solid;
    font-size: 16px;
    border-radius: 4px;
}

main footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.judul h1 {
    font-size: 45px;
    font-family:"sans-serif";
}

.credit {
    font-size: 10px;
    color: royalblue;
}

.sinopsis {

}

.separator {

}

.form-content {
    margin-bottom: 10px;
}

.section-content {
    margin-bottom: 10px;
}

.button-konversi {

}

.button-reset {

}

.button-reverse {

}

.formula {
    font-size: x-large;
    font-style: italic;
}