body {
    background-color: lightgray;
}

textarea {
    width: 500px;
    height: 100px;
    padding: 15px;
    border: 2px solid;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
}

main footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.judul h1 {
    font-size: 45px;
    font-family:"sans-serif";
    text-align: center;
}

.credit {
    font-size: 10px;
    color: royalblue;
}

.division-separator {
    margin-bottom: 10px;
    margin-top: 10px;
}

.separator {
    height: 10px;
    background-color: darkcyan;
}

.footer-separator {
    height: 5px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form-content .section-content {
    margin-bottom: 10px;
}

.button-konversi {
    background-color: green;
    color: white;
}

.button-reset {
    background-color: red;
    color: white;
}

.button-reverse {
    background-color: blue;
    color: white;
}

.formula {
    font-size: x-large;
    font-style: italic;
}