.judul h1 {
    font-size: 45px;
    font-family:"sans-serif";
}

.credit {
    font-size: 10px;
    color: royalblue;
}

.sinopsis {

}

.separator {

}

#konversi-input {

}

.button-konversi {

}

.button-reset {

}

.button-reverse {

}

#result-output {

}

#calculate-detail {

}